html {

    scroll-behavior: smooth;

}

body {

    background: #140a0a;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 250px;


}

h1:hover {

    color: #ef4444;

}


p:hover {

    color: #ef4444;

}

.t1 {

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

.t2 {

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}